@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Api Otel Admin Paneli</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/adminTheme/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/adminTheme/css/style.css" rel="stylesheet">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/adminTheme/css/site.css" asp-append-version="true" />

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="~/adminTheme/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/adminTheme//images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/adminTheme/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        @await Html.PartialAsync("/Views/AdminLayout/HeaderPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLayout/LeftSideBarPartial.cshtml")

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            @*<div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>*@
            <br /> 
            <!-- row -->
             @RenderBody()
@*              

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>

    </div>
    <script src="~/adminTheme/lib/jquery/dist/jquery.js"></script>
     <script src="~/adminTheme/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminTheme/js/site.js" asp-append-version="true"></script>
    <script src="~/adminTheme/plugins/common/common.min.js"></script>
    <script src="~/adminTheme/js/custom.min.js"></script>
    <script src="~/adminTheme/js/settings.js"></script>
    <script src="~/adminTheme/js/gleek.js"></script>
    <script src="~/adminTheme/js/styleSwitcher.js"></script>

</body>

</html>
